body{
  background-color: rgb(27, 27, 104);  
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* TOP-BANNER*/
#top-banner{
    background-color:rgb(72, 72, 121) ;
    height: 60px;
    padding: 5px;
}
#top-banner img {
    height: 100%;
    margin-left: 5px;
}
/* container-discs */
#container-discs .disk{
    width: 250px;
    padding: 15px;

}
#container-discs .disk .cover {
    width: 100%;
}
#container-discs .disk .cover img{
    width: 100%;

}
